.app-context-menu {
  position: fixed;
  z-index: var(--hope-zIndices-popover, 1500);
  box-sizing: border-box;
  min-width: 200px;
  padding: 6px 0;
  border: 0;
  border-radius: 6px;
  background: #fff;
  color: #666;
  box-shadow: 0 10px 30px -5px rgb(0 0 0 / 30%);
  outline: none;
  animation: app-context-menu-in 300ms;
}

.app-context-menu--dark {
  background: rgb(40 40 40 / 98%);
  color: #fff;
}

.app-context-menu__item {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 0;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.app-context-menu__item:not([aria-disabled="true"]):hover,
.app-context-menu__item:not([aria-disabled="true"]):focus-visible,
.app-context-menu__submenu:not([aria-disabled="true"]):focus
  > .app-context-menu__item {
  background: #4393e6;
  color: #fff;
  outline: none;
}

.app-context-menu--light
  .app-context-menu__item:not([aria-disabled="true"]):hover,
.app-context-menu--light
  .app-context-menu__item:not([aria-disabled="true"]):focus-visible,
.app-context-menu--light
  .app-context-menu__submenu:not([aria-disabled="true"]):focus
  > .app-context-menu__item {
  background: #e0eefd;
  color: #4393e6;
}

.app-context-menu__item[aria-disabled="true"],
.app-context-menu__submenu[aria-disabled="true"] > .app-context-menu__item {
  cursor: not-allowed;
  opacity: 0.5;
}

.app-context-menu__submenu {
  position: relative;
}

.app-context-menu__submenu-label {
  justify-content: space-between;
  gap: 1rem;
}

.app-context-menu__submenu-label > span:last-child {
  margin-left: auto;
  font-size: 12px;
}

.app-context-menu__submenu-content {
  position: absolute;
  top: -6px;
  left: 100%;
  display: none;
}

.app-context-menu__submenu:hover > .app-context-menu__submenu-content,
.app-context-menu__submenu:focus-within > .app-context-menu__submenu-content {
  display: block;
}

.app-context-menu__separator {
  height: 1px;
  margin: 4px 0;
  background: #eee;
}

@keyframes app-context-menu-in {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@media (prefers-reduced-motion: reduce) {
  .app-context-menu {
    animation: none;
  }
}
