.app-stack--hover:hover {
  border: var(--app-stack-hover-border);
  background: var(--app-stack-hover-background);
  transform: var(--app-stack-hover-transform);
  box-shadow: var(--app-stack-hover-shadow);
}

.app-stack--active:active {
  transform: var(--app-stack-active-transform);
}

@media (min-width: 640px) {
  .app-stack--responsive-width {
    width: var(--app-stack-width-sm);
  }

  .app-stack--responsive-direction {
    flex-direction: var(--app-stack-direction-sm);
  }
}

@media (min-width: 768px) {
  .app-stack--responsive-wrap {
    flex-wrap: nowrap;
  }

  .app-stack--responsive-width {
    width: var(--app-stack-width-md, var(--app-stack-width-sm));
  }

  .app-stack--responsive-direction {
    flex-direction: var(
      --app-stack-direction-md,
      var(--app-stack-direction-sm)
    );
  }
}

@media (min-width: 1024px) {
  .app-stack--responsive-width {
    width: var(
      --app-stack-width-lg,
      var(--app-stack-width-md, var(--app-stack-width-sm))
    );
  }
}

@media (min-width: 1280px) {
  .app-stack--responsive-direction {
    flex-direction: var(
      --app-stack-direction-xl,
      var(--app-stack-direction-md, var(--app-stack-direction-sm))
    );
  }

  .app-stack--responsive-justify {
    justify-content: var(--app-stack-justify-xl);
  }
}
