.app-stack--hover-border:hover {
  border: var(--app-stack-hover-border);
}

@media (min-width: 768px) {
  .app-stack--responsive-wrap {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1024px) {
  .app-stack--responsive-width {
    width: 100%;
  }
}
